<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- insert, delete, update는 무조건 resultType="int"이므로 프로그래머가 써주지 않아도 이미 resultType="int"가 
		있는 것으로 본다 -->
	<insert id="create" parameterType="memberVO">
		insert into member values
		(#{id}, #{pw}, #{name}, #{tel})
	</insert>

	<delete id="del" parameterType="String">
		delete from member where id = #{id}
	</delete>

	<update id="up" parameterType="memberVO">
		update member set tel = #{tel}
		where id = #{id}
	</update>

	<select id="one" parameterType="String" resultType="memberVO">
		select * from
		member where id = #{id}
	</select>

	<select id="one2" parameterType="String" resultType="memberVO">
		select *
		from member_1 where id = #{id}
	</select>

	<select id="all" resultType="memberVO">
		select * from member
	</select>

	<!-- vo와 db table이 같을 때는 자동으로 컬럼명과 동일한 vo 변수에 자동으로 넣어줌 vo와 db table이 다를 
		때는 수동으로 어떤 컬럼명에서 꺼내 vo변수에 넣어줄지 mapping 해주어야 함. -->

	<resultMap type="memberVO" id="map1">
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="tel" column="contactddd"/>
	</resultMap>

</mapper>











