<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<insert id="create" parameterType="com.multi.mvc300.MemberVO">
		insert into member values (#{id}, #{pw}, #{name}, #{tel})
	</insert>
	
	<delete id="del"  parameterType="memberVO">
		delete from member where id = #{id}
	</delete>
	
	<update id="up"  parameterType="memberVO">
		update member set tel = #{tel} where id = #{id}
	</update>

	<select id="one"  parameterType="String" resultType="memberVO">
		select * from member where id = #{id}
	</select>

	<select id="all" resultType="memberVO">
		select * from member
	</select>
	
</mapper>











