<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="place">

	<insert id="create" parameterType="placeVO">
		replace into place (id, name,
		cnt, chartr, sido, gugun, opende)
		VALUES (#{id}, #{name}, #{cnt}, #{chartr}, #{sido}, #{gugun}, #{opende})
	</insert>

	<delete id="del">
		delete from place
	</delete>

	<select id="one" parameterType="String" resultType="placeVO">
		select id from place where name = #{name}
	</select>
	
	<select id="all" resultType="placeVO">
		select * from place
	</select>
</mapper>











