<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="place">
	
	<insert id="create" parameterType="placeVO">
		insert into place values (#{fcltynm}, #{mt10id}, #{mt13cnt}, #{fcltychartr}, #{opende}, #{seatscale}, #{telno}, #{relateurl}, #{adres}, #{la}, #{lo})
	</insert>
	
	<delete id="del"  parameterType="placeVO">
		delete from place where mt10id = #{id}
	</delete>
	
	<!--
	<update id="up"  parameterType="placeVO">
		update place set tel = #{tel} where mt10id = #{id}
	</update>
	  -->
	  
</mapper>











